In [20]:
import pandas as pd

In [21]:
all_data = pd.read_csv('data/labeled_data.csv')
all_data = all_data[['class','tweet']].copy()

all_data.head()

   class                                              tweet
0      2  !!! RT @mayasolovely: As a woman you shouldn't...
1      1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2      1  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3      1  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4      1  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [22]:
pred_data = pd.read_csv('data/result.csv')

pred_data.head()

   class                                              tweet
0      1  RT @RedTvvitter: "Does my Mewtwo make your pus...
1      1  @kieffer_jason and who said I didn't like myse...
2      1                      Get this bitch off my TV bruh
3      1                    Lmfao bitch got her shit rocked
4      1  Verizon customer service is trash as fuck. I'v...

In [23]:
merged_data = pd.merge(pred_data, all_data, how='left', on='tweet')

merged_data.head()

   class_x                                              tweet  class_y
0        1  RT @RedTvvitter: "Does my Mewtwo make your pus...      1.0
1        1  @kieffer_jason and who said I didn't like myse...      1.0
2        1                      Get this bitch off my TV bruh      1.0
3        1                    Lmfao bitch got her shit rocked      1.0
4        1  Verizon customer service is trash as fuck. I'v...      1.0

In [24]:
#merged_data['chk'] = merged_data[merged_data.apply(lambda x : x['class_x'] == x['class_y'], axis=1)]

#merged_data.head()

In [25]:
#merged_data.groupby('chk').count()

In [26]:
merged_data.to_csv('data/check.csv', index=False)